<form {{action 'filter' on='submit'}}>
    {{input value=year placeholder='YYYY'}}
    {{input value=month placeholder='MM'}}
    {{input value=day placeholder='DD'}}
    <button type="submit">Фильтровать</button>
    <button {{action 'reset'}}>Cбросить</button>
</form>