<td>
    {{weather.dayTime}}
</td>
<td>
    {{weather.temperature}}
</td>
<td>
    {{weather.pressure}}
</td>
<td>
    {{weather.cloudiness}}
</td>
<td>
    {{weather.windSpeed}}
</td>
<td>
    {{weather.windDirection}}
</td>
<td>
    {{weather.humidity}}
</td>